@use 'variables' as v;

#image-generator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  #canvas {
    max-width: v.$content-width;
    @media (max-width: 840px) {
      max-width: 100%;
    }
  }
}

#sound-generator .inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  .play {
    white-space: nowrap;
    flex-shrink: 0;
  }
}
