@use 'variables' as v;
@use 'mixins' as m;

html, body {
  margin: 0;
  background: v.$bg;
  color: v.$fg;
  font-family: v.$text-font;
}

#app {
  padding: 20px;
}

#content {
  max-width: v.$content-width;
  a {
    @include m.link;
    padding: 0;
    margin: 0;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  button {
    background: v.$link-bg;
    border: 2px solid v.$link;
    border-radius: 4px;
    color: v.$link;
    padding: 5px 10px;
    max-width: 100px;
  }

  input[type=number] {
    background: v.$link-bg;
    border: 2px solid v.$link;
    border-radius: 4px;
    color: v.$link;
    padding: 5px 10px;
    max-width: 100px;
  }
}
